[project]
	description = Vacuum cleaner simulator
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jeff Delmerico (jeffdelmerico)
[access "refs/for/refs/*"]
	read = group user/Jeff Delmerico (jeffdelmerico)
	push = group user/Jeff Delmerico (jeffdelmerico)
	label-Code-Review = -2..+2 group user/Jeff Delmerico (jeffdelmerico)
	label-Verified = -1..+1 group user/Jeff Delmerico (jeffdelmerico)
	rebase = group user/Jeff Delmerico (jeffdelmerico)
	removeReviewer = group user/Jeff Delmerico (jeffdelmerico)
	submit = group user/Jeff Delmerico (jeffdelmerico)
[access "refs/heads/*"]
	read = group user/Jeff Delmerico (jeffdelmerico)
	create = group user/Jeff Delmerico (jeffdelmerico)
	push = +force group user/Jeff Delmerico (jeffdelmerico)
	pushMerge = group user/Jeff Delmerico (jeffdelmerico)
[access "refs/tags/*"]
	push = group user/Jeff Delmerico (jeffdelmerico)
	push = +force group user/Jeff Delmerico (jeffdelmerico)
